* {
 background-color: lightblue;
 padding: 1ch;
 font-family: sans-serif;
 }

.main {
   
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

label {
    display: block;
    font-size: 30px;
    
}
input {
    background-color: white;
    width: 200px;
    height: 20px;
    font-size: 25px;
}